Dear {{previous_highest_bidder}},

We regret to inform you that your bid for the auction "{{auction_title}}" has been outbid by another user.

Details of the Auction:
Auction Title: {{auction_title}}
Current Highest Bid: {{current_highest_bid}}

Although your bid was competitive, another user has placed a higher bid. If you wish to continue participating in the auction, you may consider placing a higher bid.

Thank you for your interest in our auction. If you have any questions or concerns, please don't hesitate to contact us.

Best regards,
Auction House