{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center" style="color: white; font-weight: bold;">Rate This Seller</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="rating">Rating:</label>
                        <input type="number" class="form-control" name="rating" min="1" max="5" required>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit Rating</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}