<!-- upcoming_auction_items.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <!-- Search form -->
    <div class="search-container text-center mb-4">
        <form action="{% url 'website:search_upcoming_auctions' %}" method="GET" class="form-inline">
            <input type="text" class="form-control" placeholder="Search for auctions..." name="query" required>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- Display Past Auctions -->
    <div class="card-deck">
        <!-- Past Auctions -->
        <div class="card">
            <div class="card-header">
                <h2>Winning Bids</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for auction in past_auctions %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            {% if auction.image %}
                            <img src="{{ auction.image.url }}" alt="{{ auction.title }} Image" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <h3 class="card-title">{{ auction.title }}</h3>
                                <h10 class="card-text text-dark">Seller: {{ auction.created_by.username }}</h10><br>
                                <p class="card-text text-dark mb-0">{{ auction.description|truncatewords:15 }}</p>
                                <p class="card-text font-weight-bold text-primary mb-0">
                                    Current Bid: {{ auction.current_bid }}<br>
                                </p>
                                <p class="card-text mb-3">
                                    <small class="text-muted">
                                        Start Time: <span class="start-time">{{ auction.start_time }}</span><br>
                                        End Time: {{ auction.end_time }}
                                    </small>
                                </p>
                                <a href="{% url 'website:auction_detail' auction.id %}" class="btn btn-sm btn-primary">View Details</a>
                                <a href="{% url 'website:meeting' auction.id %}" class="btn btn-sm btn-primary">Schedule meeting</a>
                                <a href="{% url 'website:seller_rating' auction.id %}" class="btn btn-sm btn-primary">Rate Seller</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
